<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">Angular-Blog</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item ml-3"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item ml-3"><a href="" class="nav-link">About</a></li>
                        <li class="nav-item ml-3"><a href="" class="nav-link">Terms & Condition</a></li>
                        <li class="nav-item ml-3"><a href="" class="nav-link">Contact</a></li>
                    </ul>
                </div>

                <p class="mb-2 mt-2">Copiright @ 2023</p>
            </div>
        </div>
    </div>
</footer>