<div class="container">
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card shadow-effect" routerLink="/categories">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-clipboard-list"></i></h1>
                    <h2 class="text-theme-primary">
                        Category
                    </h2>
                    <p>Manage your category details</p>
                </div>
            </div>
        </div>
    </div>
</div>