<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-theme-primary">Add New Post</h3>
            <p class="mb-5">You can add your new post here</p>
        </div>
    </div>

    <form [formGroup] = "postForm" (ngSubmit)="onSubmit()">
        <div class="row">
        <div class="col-md-7">
            <div class="card shadow-effect">
                <div class="card-body">

                    <div class="form-group">
                        <label for="">Title</label>
                        <input formControlName="title" 
                        type="text" 
                        class="form-control" 
                        (keyup)="onTitleChanged($event)">
                        
                        <div *ngIf="fc.title.errors?.required">
                            <div *ngIf="fc.title.touched && fc.title.invalid" class="alert alert-danger">
                                Title is required
                            </div>
                        </div>

                        <div *ngIf="fc.title.errors?.minLength">
                            <div *ngIf="fc.title.touched && fc.title.invalid" class="alert alert-danger">
                                Title must be at least 10 characters
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Permalink</label>
                        <input formControlName="permalink" type="text" class="form-control" [(ngModel)]="permalink" name="permalink">

                        <div *ngIf="fc.permalink.errors?.required">
                            <div *ngIf="fc.permalink.touched && fc.permalink.invalid" class="alert alert-danger">
                                Permalink is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Excerpt</label>
                        <textarea formControlName="excerpt" class="form-control" cols="30" rows="10"></textarea>

                        <div *ngIf="fc.excerpt.errors?.required">
                            <div *ngIf="fc.excerpt.touched && fc.excerpt.invalid" class="alert alert-danger">
                                Title is required
                            </div>
                        </div>

                        <div *ngIf="fc.excerpt.errors?.minLength">
                            <div *ngIf="fc.excerpt.touched && fc.excerpt.invalid" class="alert alert-danger">
                                Excerpt must be at least 50 characters
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label for="">Please Select a post category</label>
                <select class="form-control" formControlName="category">
                    <option value="" disabled>Please select a category</option>
                    <option *ngFor="let category of categories" value="{{category.id}}-{{category.data.category}}">{{category.data.category}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Post Image</label>
                <img [src]="imgSrc" class="form-control img-fluid img-preview">
                <input formControlName="postImg" type="file" class="form-control" accept="image/*" (change)="showPreview($event)">
            </div>
        </div>
        </div>

        <div class="row mt-3 mb-5">
        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Content</label>
                        <angular-editor formControlName="content" placeholder="Add your content here"></angular-editor>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-center mb-5">
            <button class="btn btn-info bg-theme" [disabled]="postForm.invalid">Save post</button>
            <button class="btn btn-warning ml-3" routerLink="/posts">Back to Post</button>
        </div>
        </div>

    </form>
</div>