<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-cente">All Blog pposts</h3>
                    <p>From here you can manage your blg posts</p>

                    <button class="btn btn-info bg-theme" routerLink="/posts/new">Add new post</button>
                    <button class="btn btn-warning ml-2" routerLink="/">Back to dashboard</button>
                </div>
            </div>
        </div>
    </div>
</div>
